# Streamlit core
streamlit>=1.32

# HTTP requests
requests

# PyTorch (needed for transformers & sentence-transformers)
torch>=2.1.0

# Hugging Face Transformers library
transformers>=4.46.0

# Sentence Transformers
sentence-transformers>=3.1.1

# Faiss CPU from GitHub
faiss-cpu@git+https://github.com/facebookresearch/faiss.git

# Avoid version conflicts for rich & dependencies
rich
markdown-it-py
pygments
mdurl
